# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files (KEEP THE SECRET OUT OF GIT!)
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel
